.about {
  width: 100%;

  background: #000;
  transition: background 0.5s ease;

  padding-top: 35px;
  padding-bottom: 30px;
  background: $color-darkgrey url(../../img/images/building-opacity.webp)
    no-repeat 50% 87% / cover;

  @media (min-width: $tablet) {
    padding-top: 72px;
    // padding-bottom: 30px;
  }
  @media (min-width: $desktop) {
    background: $color-black;
    height: 100vh;
  }
}
// .about.open {
//   background: $color-darkgrey url(../../img/images/building-opacity.webp)
//     no-repeat 50% 50% / cover;
// }

.about.open {
  background: $color-darkgrey url(../../img/images/building-opacity.webp)
    no-repeat 50% 87% / cover;
}

.about__wrapper {
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.about__title {
  @include title;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.5s ease;
  margin-top: 0;

  @media (min-width: $tablet) {
    margin-top: 1px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop) {
    width: 0%;
  }

  &::after {
    margin: 0 30px;

    @media (min-width: $tablet) {
      margin: 0 60px;
      width: calc(100% - 120px);
    }
    @media (min-width: $desktop) {
      margin: 0 100px 0 267px;
      width: calc(100% - 367px);
    }
  }
}

.about.open {
  & .about__title {
    width: 100%;
  }
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 70vh;
  @media (min-width: $desktop) {
    flex-direction: row;
    align-items: stretch;

    gap: 80px;
    margin-top: 50px;
    overflow: visible;
    height: 100%;
  }
}

.about__info-box {
  overflow: visible;
  position: relative;
  margin-bottom: 28px;

  @media (min-width: $desktop) {
    flex-basis: 65%;
    margin-bottom: 0;
    height: 100%;
  }
}

.about__info-list {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.about__info {
  display: flex;
  flex-flow: column;

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }

  &--green {
    grid-area: 1/1/2/2;
    opacity: 0;

    transition: opacity 0.3s ease;

    &.open {
      opacity: 1;
    }
  }

  &--pink {
    grid-area: 1/1/2/2;
    opacity: 0;
    transition: opacity 0.3s ease;

    &.open {
      opacity: 1;
    }
  }
}

.about__info-title {
  transition: height 0.5s ease;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: $color-white;

  padding-bottom: 50px;
  position: relative;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 45px;
    padding-bottom: 125px;
    overflow: hidden;
  }
  @media (min-width: $desktop) {
    padding-bottom: 70px;
    // margin-bottom: 70px;
    height: 0;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;

    width: 110%;
    height: 1px;
    background-color: $color-white;

    margin-top: 50px;

    @media (min-width: $tablet) {
      width: 50%;
      margin-top: 100px;
    }
    @media (min-width: $desktop) {
      margin-top: 76px;
    }
  }
}

.about.open {
  & .about__info-title {
    @media (min-width: $desktop) {
      height: auto;
    }
  }
}

.about__info-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  margin-bottom: 30px;

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 55px;
  }
  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 15px;
    transform: translate(0, 2000px);
    transition: transform 0.5s ease;
  }
}
.about.open {
  & .about__info-desc {
    transform: translate(0, 0);
  }
}

.about__info-toggle {
  width: auto;
  align-self: flex-start;

  font-family: geometria;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  color: $color-white;

  padding: 9px 20px 5px;

  background-color: transparent;
  border-radius: 0;
  border: 1px solid $color-white;

  box-shadow: inset 0 0 10px $color-pink-2, 0 0 10px $color-pink-2;
  text-shadow: 0 0 10px $color-pink-2;

  transition: all 0.3s ease, transform 0.5s ease;

  user-select: none;
  -webkit-tap-highlight-color: transparent;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 25px;
    padding: 14px 30px 9px;
  }

  @media (min-width: $desktop) {
    margin-top: 20px;
    transform: translate(0, 2000px);
  }

  &:hover {
    box-shadow: inset 0 0 10px 2px $color-pink-2, 0 0 10px 2px $color-pink-2;
    text-shadow: 0 0 13px $color-pink-2;
  }

  &--green {
    box-shadow: inset 0 0 10px $color-green, 0 0 10px $color-green;
    text-shadow: 0 0 10px $color-green;

    &:hover {
      box-shadow: inset 0 0 10px 2px $color-green, 0 0 10px 2px $color-green;
      text-shadow: 0 0 13px $color-green;
    }
  }
}
.about.open {
  & .about__info-toggle {
    transform: translate(0, 0);
  }
}

.about__cards_animate {
  animation: animCards 1s linear forwards;
}
.about__cards_animate2 {
  animation: animCards 1s linear forwards reverse;
}
.about__cards {
  position: relative;
  // bottom: -73px;
  // left: 0;
  // right: 0;
  // margin: 0 auto;
  // top: 25%;
  left: calc(50% - 160px);
  // height: 50em;
  height: auto;
  width: 20em;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  margin: auto 0;
  border-radius: 50%;
  transform: rotateX(75deg);
  transform-style: preserve-3d;
  transition: all 0.5s ease;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: center;
    gap: 0;
    padding: 50px 0;
    // transform: translateY(50px);
    // animation: animCards 5s linear infinite;
  }
  @media (min-width: $desktop) {
    position: static;
    bottom: 0;
    // flex-basis: 35%;
    left: 8000px;
    transform: rotateX(75deg);
    margin: 0 auto;
    align-self: center;
    width: 24em;
    height: 16.5em;
  }
}
.about.open {
  & .about__cards {
    left: 0;
    height: 16.5em;
  }
}

@keyframes animCards {
  0% {
    transform: rotateX(75deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(75deg) rotateZ(-180deg);
  }
}

.about__card {
  position: absolute;
  // top: 200px;
  width: 258px;
  height: 270px;
  overflow: hidden;
  border-radius: 22px;
  transform: rotateX(-90deg);
  transform-style: preserve-3d;

  &--green {
    top: -250px;
    right: 0;
    @media (min-width: $tablet) {
      transform: rotateX(-90deg);
    }
  }

  &--pink {
    bottom: -250px;
    left: 0;
    transform: rotateX(-90deg);
    @media (min-width: $tablet) {
      transform: rotateX(-90deg);
    }
  }

  @media (min-width: $tablet) {
    width: 295px;
    height: 460px;
  }
}

.front,
.back {
  border-radius: 25px;
  position: absolute;
  backface-visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.back {
  transform: rotateY(180deg);
}

.about__card-wrapper {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &.flipped {
    transform: rotateY(180deg);
  }
}

.about__card_animate {
  animation: animCard 1s linear forwards;
}
.about__card_animate2 {
  animation: animCard 1s linear forwards reverse;
}

@keyframes animCard {
  0% {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(-90deg) rotateY(-180deg) rotateZ(0deg);
  }
}

.about__card-button {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  object-fit: cover;

  user-select: none;
  -webkit-tap-highlight-color: transparent;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--green {
    background: url("../../img/images/card-green-1.jpg") no-repeat 50% 33% /
      cover;
  }

  &--pink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("../../img/images/card-pink-without-lines.png") no-repeat
      50% 15% / cover;

    @media (min-width: $tablet) {
      background-position-y: 33%;
    }
  }
}

.card-ribbon {
  display: flex;
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;
  height: 44px;
  // width: ;
  width: 400px;
  background-color: #4f4b98;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
}
.card-ribbon__text {
  color: #000;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  animation: animText 20s linear infinite;
  white-space: nowrap;
}
.about__card-ribbon_1 {
  z-index: 10;
  left: -15px;
  top: -20px;
  transform: rotateZ(3deg);
  display: none;

  @media (min-width: $desktop) {
    display: block;
  }
}
.about__card-ribbon_2 {
  z-index: 8;
  left: -15px;
  transform: rotateZ(-10deg);
}
.about__card-ribbon_3 {
  left: -15px;
  top: 10px;
  transform: rotateZ(-3deg);
}
.about__card-ribbon_4 {
  z-index: 4;
  left: -50px;
  top: 20px;
  transform: rotateZ(-30deg);
}
.about__card-ribbon_5 {
  left: -15px;
  top: 20px;
  transform: rotateZ(8deg);
}

.about__card-ribbon_1 .card-ribbon__text::after {
  content: " компьютерная графика разработка игр";
}
.about__card-ribbon_2 .card-ribbon__text::after {
  content: " искусство издательское дело журналистика";
}
.about__card-ribbon_3 .card-ribbon__text::after {
  content: " архитектура мода дизайн кино";
}
.about__card-ribbon_4 .card-ribbon__text::after {
  content: " новые медиа маркетинг IT-сфера гастрономия";
}
.about__card-ribbon_5 .card-ribbon__text::after {
  content: " урбанистика музыка саунд-дизайн";
}
@keyframes animText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.about__infopanel {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px 20px 15px;

  background-color: $color-black;
  background-repeat: no-repeat;
  border-radius: 25px;
  border: none;
  // display: flex;
  // flex-direction: column;
  // text-align: left;

  user-select: none;
  -webkit-tap-highlight-color: transparent;

  @media (min-width: $tablet) {
    // padding: 57px 50px;
  }

  @media (min-width: $desktop) {
  }

  // &--green {
  //   background-image: url(../../img/images/background-green-popup.webp);
  //   background-position: 46% 87%;
  //   background-size: 147%;
  // }

  // &--pink {
  //   background-image: url(../../img/images/background-pink-popup.webp);
  //   background-position: 30% 78%;
  //   background-size: 98%;
  // }
}

.about__infopanel-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: $color-white;
  margin-bottom: 30px;
  position: relative;

  @media (min-width: $tablet) {
    margin-bottom: 50px;
    font-size: 32px;
    line-height: 40px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 1px;
    width: 50%;
    background-color: $color-white;
  }
}

.about__infopanel-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;

  @media (min-width: $tablet) {
    font-size: 19px;
    line-height: 26px;
  }

  // li {
  //   padding-bottom: 7px;
  //   position: relative;
  //   margin-left: 15px;

  //   &::before {
  //     content: "○";
  //     position: absolute;
  //     left: -15px;
  //     top: 50%;
  //     transform: translateY(-65%);
  //     font-size: 18px;
  //     color: $color-white;
  //   }
  // }
}
