.about {
  height: 100vh;
  width: 100%;
  background: $color-darkgrey url(../../img/images/building-opacity.webp) no-repeat 50% 50% / cover;

  padding-top: 60px;
  padding-bottom: 70px;

  @media (min-width: $tablet) {
    padding-top: 100px;
    padding-bottom: 90px;
  }
}

.about__wrapper {
  overflow: visible;
  display: flex;
  flex-direction: column;
}

.about__title {
  @include title;
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.5s ease;
}

.about.open {
  & .about__title {
    width: 100%;
  }
}

.about__content {
  @media (min-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
  }
}

.about__info-box {
  overflow: visible;
  height: 100%;
  position: relative;

  margin-bottom: 90px;

  @media (min-width: $desktop) {
    flex-basis: 65%;
  }
}

.about__info-list {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.about__info {
  display: flex;
  flex-flow: column;

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }

  // &--green {
  //     grid-area: 1/1/2/2;
  //     transform: translateX(8000px);

  //     transition: transform .5s ease;

  //     &.open {
  //         transform: translateX(0px);
  //     }
  // }

  // &--pink {
  //     grid-area: 1/1/2/2;
  //     transform: translateX(-8000px);
  //     transition: transform .5s ease;

  //     &.open {
  //         transform: translateX(0px);
  //     }
  // }

  &--green {
    grid-area: 1/1/2/2;
    opacity: 0;

    transition: opacity 0.3s ease;

    &.open {
      opacity: 1;
    }
  }

  &--pink {
    grid-area: 1/1/2/2;
    opacity: 0;
    transition: opacity 0.3s ease;

    &.open {
      opacity: 1;
    }
  }
}

.about__info-title {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: $color-white;

  margin-bottom: 50px;
  position: relative;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 45px;

    margin-bottom: 125px;
  }
  @media (min-width: $desktop) {
    margin-bottom: 70px;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;

    width: 107%;
    height: 1px;
    background-color: $color-white;

    margin-top: 50px;

    @media (min-width: $tablet) {
      width: 50%;
      margin-top: 100px;
    }
    @media (min-width: $desktop) {
      margin-top: 76px;
    }
  }
}

.about.open {
  & .about__info-title {
    height: 80px;
  }
}

.about__info-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  margin-bottom: 30px;

  transform: translate(0, 2000px);
  transition: transform 0.5s ease;

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 55px;
  }
  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 15px;
  }
}
.about.open {
  & .about__info-desc {
    transform: translate(0, 0);
  }
}

.about__info-toggle {
  width: auto;
  align-self: flex-start;

  font-family: geometria;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  color: $color-white;

  padding: 9px 20px 5px;

  background-color: transparent;
  border-radius: 0;
  border: 1px solid $color-white;

  box-shadow: inset 0 0 10px $color-pink-2, 0 0 10px $color-pink-2;
  text-shadow: 0 0 10px $color-pink-2;

  transition: all 0.3s ease, transform 0.5s ease;

  transform: translate(0, 2000px);

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 25px;
    padding: 14px 30px 9px;
  }

  @media (min-width: $desktop) {
    align-self: flex-end;
  }

  &:hover {
    box-shadow: inset 0 0 10px 2px $color-pink-2, 0 0 10px 2px $color-pink-2;
    text-shadow: 0 0 13px $color-pink-2;
  }

  &--green {
    box-shadow: inset 0 0 10px $color-green, 0 0 10px $color-green;
    text-shadow: 0 0 10px $color-green;

    &:hover {
      box-shadow: inset 0 0 10px 2px $color-green, 0 0 10px 2px $color-green;
      text-shadow: 0 0 13px $color-green;
    }
  }
}
.about.open {
  & .about__info-toggle {
    transform: translate(0, 0);
  }
}

.about__cards_animate {
  animation: animCards 1s linear forwards;
}
.about__cards_animate2 {
  animation: animCards 1s linear forwards reverse;
}
.about__cards {
  display: flex;
  position: relative;
  top: 80px;
  left: 8000px;
  flex-direction: column;
  width: 24em;
  height: 16.5em;
  align-items: center;
  gap: 35px;
  margin-bottom: 20px;
  border-radius: 50%;

  transform-style: preserve-3d;
  transform: rotateX(75deg);
  transition: left 0.5s ease;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: center;
    gap: 0;
    padding: 50px 0;
    // transform: translateY(50px);
    // animation: animCards 5s linear infinite;
  }
  @media (min-width: $desktop) {
    // flex-basis: 35%;
  }
}
.about.open {
  & .about__cards {
    left: 0;
  }
}

@keyframes animCards {
  0% {
    transform: rotateX(75deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(75deg) rotateZ(-180deg);
  }
}

.about__card {
  position: absolute;
  // top: 200px;
  width: 258px;
  height: 270px;
  overflow: hidden;
  border-radius: 22px;
  box-shadow: 8px 8px 15px transparentize($color-black, 0.6);

  &--green {
    top: -250px;
    right: 0;
    @media (min-width: $tablet) {
      transform: rotateX(-90deg);
    }
  }

  &--pink {
    bottom: -250px;
    left: 0;
    @media (min-width: $tablet) {
      transform: rotateX(-90deg);
    }
  }

  @media (min-width: $tablet) {
    width: 295px;
    height: 460px;
  }
}

.about__card_animate {
  animation: animCard 1s linear forwards;
}
.about__card_animate2 {
  animation: animCard 1s linear forwards reverse;
}

@keyframes animCard {
  0% {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(-90deg) rotateY(-180deg) rotateZ(0deg);
  }
}

.about__card-button {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;

  // img {
  //     width: 100%;
  //     height: 100%;
  //     object-fit: cover;
  // }

  &--green {
    background: url('../../img/images/card-green-1.jpg') no-repeat 50% 33% / cover;
  }

  &--pink {
    background: url('../../img/images/card-pink-without-lines.png') no-repeat 50% 33% / cover;
  }
}

.about__card-ribbon {
}
.card-ribbon {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 44px;
  // width: ;
  width: 400px;
  background-color: #4f4b98;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
}
.card-ribbon__text {
  color: #000;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  animation: animText 20s linear infinite;
  white-space: nowrap;
}
.about__card-ribbon_1 {
  z-index: 10;
  left: -15px;
  top: -20px;
  transform: rotateZ(3deg);
}
.about__card-ribbon_2 {
  z-index: 8;
  left: -15px;
  transform: rotateZ(-10deg);
}
.about__card-ribbon_3 {
  left: -15px;
  top: 10px;
  transform: rotateZ(-3deg);
}
.about__card-ribbon_4 {
  z-index: 4;
  left: -50px;
  top: 20px;
  transform: rotateZ(-30deg);
}
.about__card-ribbon_5 {
  left: -15px;
  top: 20px;
  transform: rotateZ(8deg);
}

.about__card-ribbon_1 .card-ribbon__text::after {
  content: ' компьютерная графика разработка игр';
}
.about__card-ribbon_2 .card-ribbon__text::after {
  content: ' искусство издательское дело журналистика';
}
.about__card-ribbon_3 .card-ribbon__text::after {
  content: ' архитектура мода дизайн кино';
}
.about__card-ribbon_4 .card-ribbon__text::after {
  content: ' новые медиа маркетинг IT-сфера гастрономия';
}
.about__card-ribbon_5 .card-ribbon__text::after {
  content: ' урбанистика музыка саунд-дизайн';
}
@keyframes animText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

#debug2 {
  position: fixed;
  bottom: 30px;
  left: 30px;
}
