.nav-main {
  position: fixed;
  top: 50%;
  left: 100px;
  transform: translate(-45%, -50%) rotate(90deg);
  margin-top: 50px;
  z-index: 500;

  // outline: 1px solid white;
  width: 80vh;
  height: 3vh;

  display: none;

  @media (min-width: $desktop) {
    display: block;
  }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: -35px;
  //   right: -30px;
  //   z-index: -13;
  //   width: 100vh;
  //   height: 13vw;
  //   background: rgb(255, 255, 255);
  //   background: linear-gradient(
  //     0deg,
  //     rgba(255, 255, 255, 0.2) 0%,
  //     rgba(255, 255, 255, 0.2) 95%,
  //     rgba(255, 255, 255, 0) 100%
  //   );
  //   backdrop-filter: blur(5px);
  // }
}

.nav-main__list {
  // position: absolute;
  // top: 0;
  display: flex;
  // justify-content: space-between;
  width: 100%;
  height: 100%;
}

.nav-main__item {
  // outline: 1px solid green;
  height: auto;
  flex-basis: 25%;
  justify-self: center;

  display: flex;
  justify-content: center;
  align-items: center;

  a {
    padding: 10px;
    transform: rotate(180deg);
    position: absolute;
    text-align: center;
    color: $color-white;

    width: auto;
    height: 100%;

    &::before {
      content: "■";
      position: absolute;
      left: 50%;
      top: 0;
      font-size: 0;
      transform: translate(-50%);
      color: inherit;
      transition: all 0.3s ease;
    }

    &:hover::before {
      font-size: 30px;
      top: -12px;
    }

    span {
      position: relative;
      bottom: 0;
      font-size: calc(10px + 0.7vh);
      transition: all 0.3s ease;
      color: inherit;
      white-space: nowrap;
    }

    &:hover span {
      font-size: calc(10px + 1.2vh);
      bottom: -20px;
    }
  }

  &.open {
    a::before {
      font-size: 30px;
      top: -12px;
    }

    span {
      font-size: calc(10px + 1.2vh);
      bottom: -20px;
    }
  }
}
