.nav-main {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(50vh) rotate(-90deg);
    margin-top: 50px;

    outline: 2px solid white;
}

.nav-main__list {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100vh;
    height: auto;



}


.nav-main__item {


    a {

    }

    span {
        font-size: calc(10px + .5vh);
        color: $color-white;
    }
}