.supports {
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}

#bg {
  opacity: 0;
  transition: opacity 0.5s ease;

  @media (max-width: 900px) {
    display: none;
  }
}
.supports.open {
  & #bg {
    opacity: 1;
  }
}
#debug {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.supports__wrapper {
  position: relative;
  z-index: 10;
}

.supports__title {
  @include title;
}
.circle {
  transition: transform 1.5s ease;
  width: 600px;
  height: 600px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & .circle__shureshka-big {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: bigShureshka1 infinite linear 40s;

    @keyframes bigShureshka1 {
      from {
        transform: translate(-50%, -50%) rotateZ(0deg);
      }
      to {
        transform: translate(-50%, -50%) rotateZ(360deg);
      }
    }

    & img {
      width: 100%;
      height: 100%;
    }
  }

  & .circle__shureshka-small {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: bigShureshka1 infinite 38s linear;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  & .circle__pentagon {
    z-index: -1;
    width: 57%;
    height: 57%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & img {
      position: relative;
      top: -17px;
      width: 100%;
      height: 100%;
    }
  }

  & .circle__icon-circle {
    width: 60%;
    height: 60%;
    position: absolute;
    border: 1px solid #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & .circle__icon_wrapper {
      transition: transform 1.5s ease;
      z-index: 5;
      border-radius: 50%;
      background-color: #000;
      position: absolute;
      width: 20%;
      height: 20%;
      & .circle__icon {
        position: absolute;
      }
      &_1 {
        top: -29px;
        left: 40.5%;
      }
      &_2 {
        top: 24%;
        right: -19px;
        & img.circle__icon_image {
          transform: translate(-50%, -50%);
        }
      }
      &_3 {
        bottom: 7px;
        right: 39px;
      }
      &_4 {
        bottom: 7px;
        left: 39px;
      }
      &_5 {
        top: 24%;
        left: -19px;
      }

      & img {
        width: 100%;
        height: 100%;
      }

      & .circle__icon_image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 80%;

        & img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  & .circle__letter {
    transition: transform 1.5s ease;
    width: 30%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & img {
      width: 100%;
      height: 100%;
    }
  }

  & .circle__circle_dotted {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    border-radius: 50%;

    & .circle__inner-circles {
      position: absolute;
      width: 100%;
      height: 100%;

      & .inner-circles__big {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 28%;
        top: -1%;
        display: flex;
        justify-content: space-between;

        & img {
          width: 8px;
          height: 8px;
        }
      }

      & .inner-circles__small {
        position: absolute;
        width: 28%;
        display: flex;
        justify-content: space-between;
        &.inner-circles__small_1 {
          top: 32%;
          right: -10%;
          transform: rotateZ(72deg);
        }
        &.inner-circles__small_2 {
          bottom: 9%;
          right: 7%;
          transform: rotateZ(144deg);
        }
        &.inner-circles__small_3 {
          bottom: 9%;
          left: 7%;
          transform: rotateZ(216deg);
        }
        &.inner-circles__small_4 {
          top: 32%;
          left: -10%;
          transform: rotateZ(288deg);
        }
        & img {
          width: 6px;
          height: 6px;
        }
      }
    }
  }
  & .circle__circle-words {
    font-size: 25px;
    opacity: 1;
    transition: opacity 0.2s linear;
    &.hidden {
      opacity: 0;
    }
    & .circle__word {
      z-index: 100;
      position: absolute;

      & img {
        width: 100%;
        height: 100%;
      }
      &:after {
        content: url(../img/support/Arrow.svg);
        display: block;
        position: absolute;
        left: 50%;
        top: 30%;
      }
      &#circle__word_1 {
        left: 51%;
        top: 5%;
        transform: translate(-50%, 0);

        &:after {
          transform: scale(2) translateX(-50%);
        }
      }
      &#circle__word_2 {
        right: 8%;
        top: 22%;
        &:after {
          transform: scale(2) rotateZ(72deg) translateX(100%) translateY(10%);
        }
      }
      &#circle__word_3 {
        bottom: 9%;
        right: 15%;
        &:after {
          transform: scale(2) rotateZ(144deg) translateX(40%) translateY(10%);
        }
      }
      &#circle__word_4 {
        bottom: 8%;
        left: 13%;
        &:after {
          top: 50%;
          transform: scale(2) rotateZ(216deg) translateX(10%) translateY(10%);
        }
      }
      &#circle__word_5 {
        left: 6%;
        top: 24%;
        &:after {
          transform: scale(2) rotateZ(288deg) translateX(-50%) translateY(10%);
        }
      }
    }
  }

  & #circle__word_1 > svg:nth-child(1) > path:nth-child(2) {
    fill: #666;
  }
  & #circle__word_2 > svg:nth-child(1) > path:nth-child(2) {
    fill: #666;
  }
  & #circle__word_3 > svg:nth-child(1) > path:nth-child(1) {
    fill: #666;
  }
  & #circle__word_4 > svg:nth-child(1) > path:nth-child(2) {
    fill: #666;
  }
  & #circle__word_5 > svg:nth-child(1) > path:nth-child(2) {
    fill: #666;
  }

  &.activate-1 {
    transform: translate(-50%, -50%) rotateZ(0deg);

    & #circle__word_1 > svg:nth-child(1) > path:nth-child(2) {
      fill: #fff;
    }

    & .circle__letter {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }

    & #circle__word_1 .circle__shadow {
      background: lightblue;
    }
  }
  &.activate-2 {
    transform: translate(-50%, -50%) rotateZ(-72deg);

    & #circle__word_2 > svg:nth-child(1) > path:nth-child(2) {
      fill: #fff;
    }

    & .circle__letter {
      transform: translate(-50%, -50%) rotateZ(72deg);
    }

    & .circle__icon_wrapper {
      transform: rotateZ(72deg);
    }

    & #circle__word_2 .circle__shadow {
      background: lightblue;
    }
  }
  &.activate-3 {
    transform: translate(-50%, -50%) rotateZ(-144deg);

    & #circle__word_3 > svg:nth-child(1) > path:nth-child(1) {
      fill: #fff;
    }

    & .circle__letter {
      transform: translate(-50%, -50%) rotateZ(144deg);
    }

    & .circle__icon_wrapper {
      transform: rotateZ(144deg);
    }

    & #circle__word_3 .circle__shadow {
      background: lightblue;
    }
  }
  &.activate-4 {
    transform: translate(-50%, -50%) rotateZ(-216deg);

    & #circle__word_4 > svg:nth-child(1) > path:nth-child(2) {
      fill: #fff;
    }

    & .circle__letter {
      transform: translate(-50%, -50%) rotateZ(216deg);
    }

    & .circle__icon_wrapper {
      transform: rotateZ(216deg);
    }

    & #circle__word_4 .circle__shadow {
      background: lightblue;
    }
  }
  &.activate-5 {
    transform: translate(-50%, -50%) rotateZ(-288deg);

    & #circle__word_5 > svg:nth-child(1) > path:nth-child(2) {
      fill: #fff;
    }

    & .circle__letter {
      transform: translate(-50%, -50%) rotateZ(288deg);
    }

    & .circle__icon_wrapper {
      transform: rotateZ(288deg);
    }

    & #circle__word_5 .circle__shadow {
      background: lightblue;
    }
  }

  @media (max-width: 1400px) {
    left: 30%;
  }
  @media (max-width: 900px) {
    display: none;
  }

  @media (max-width: 630px) {
    width: 450px;
    height: 450px;
  }
  @media (max-width: 471px) {
    width: 300px;
    height: 300px;
  }
}

ul.circle__text {
  transform: translateX(3000px);
  transition: transform 1s ease;
  position: absolute;
  width: 300px;
  bottom: 0;

  right: 50px;

  & li {
    position: relative;
    font-family: "Geometria";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-shadow: 0px 0px 15px rgba(97, 0, 255, 1),
      0px 0px 15px rgba(97, 0, 255, 1), 0px 0px 15px rgba(97, 0, 255, 1),
      0px 0px 15px rgba(97, 0, 255, 1);
    border: 1px solid #000000;

    &::before {
      content: "";
      box-shadow: 0px 0px 15px 4px rgba(97, 0, 255, 1);
      position: absolute;
      left: -20px;
      width: 5px;
      height: 5px;
      background-color: #8000ff;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
    }

    @media (max-width: 900px) {
      font-family: "Geometria";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
    }
  }
  &.active {
    transform: translateX(0);
    display: flex;
    flex-direction: column;

    & li {
    }
  }
  @media (max-width: 1000px) {
    right: 0;
  }
  @media (max-width: 900px) {
    width: 60%;
    &.active {
      position: absolute;
      right: auto;
      // top: 50%;
      left: 50%;
      transform: translateX(-39%);
      width: 60%;
    }
  }
}

.circle__menu {
  position: relative;
  // top: 20%;
  width: auto;
  padding-top: 100px;
  margin-bottom: 50px;
}

.circle__texts {
  position: relative;
  width: 100%;
  bottom: 50px;
  height: 400px;

  @media (min-width: 900px) {
    position: absolute;
    width: 400px;
    right: 5px;
    top: 20%;
  }
}

.menu-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 0px 0px 15px rgba(97, 0, 255, 1),
    0px 0px 15px rgba(97, 0, 255, 1), 0px 0px 15px rgba(97, 0, 255, 1),
    0px 0px 15px rgba(97, 0, 255, 1);

  & .menu-circle__menu {
    clip-path: inset(0 0 105% 0);
    transition: clip-path 0.5s ease;

    &.active {
      clip-path: inset(-5%);
    }
  }

  & .menu-circle__choice {
    height: 50px;
    width: 300px;
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;

    font-family: "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-decoration-line: underline;
    &.opened::after {
      transform: rotateZ(180deg);
    }
    &::after + .menu-circle__menu.active {
      transform: rotateZ(0deg);
    }

    &::after {
      content: url("../img/support/arrow.svg");
      position: absolute;
      top: 23%;
      right: 13px;

      // top: 50%;
      transition: transform 0.5s ease;
      transform-origin: 50% 16px;
    }
    @media (max-width: 900px) {
      display: flex;
    }
  }

  & .menu-circle__item {
    width: 300px;
    height: 50px;
    margin-bottom: 2px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 1s ease, border 1s ease;
    &.active {
      display: none;
    }
    &_1 {
    }
    &_2 {
    }
    &_3 {
    }
    &_4 {
    }
    &_5 {
    }
  }
  &.opened {
    & .menu-circle__item {
      height: 50px;
    }
  }
}

.circle__circle-words {
  z-index: -1;
  position: relative;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.circle__word {
  cursor: pointer;
  &:hover {
    .circle__shadow {
      background: lightblue;
    }
  }
}

.circle__word {
  &:nth-child(1) {
    // display: none;
    .circle__shadow {
      top: 41px;
      left: -9px;
      // transform: rotateZ(4deg);
    }
  }
  &:nth-child(2) {
    .circle__shadow {
      top: 60px;
      left: -116px;
      transform: rotateZ(72deg);
    }
  }
  &:nth-child(3) {
    .circle__shadow {
      top: -55px;
      left: -77px;
      transform: rotateZ(144deg);
    }
  }
  &:nth-child(4) {
    .circle__shadow {
      top: -22px;
      left: 16px;
      transform: rotateZ(216deg);
    }
  }
  &:nth-child(5) {
    .circle__shadow {
      top: 47px;
      left: -3px;
      transform: rotateZ(288deg);
    }
  }
}

.circle__shadow {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 200px;
  height: 100px;
  background: gray;
  border-radius: 50%;
  filter: blur(10px);
  transition: all 0.4s ease;
  user-select: none;
}

.circle__shureshka-small {
  background: black;
  border-radius: 50%;
  z-index: -1;
  user-select: none;
  overflow: hidden;

  img {
    border-radius: 50%;
  }
}

.circle__shureshka-big {
  z-index: -2;
  user-select: none;
}
