.supports {
  width: 100vw;
  height: 100vh;
  background-color: $color-blue;
}
#supports img {
  position: absolute;
  top: 27%;
  left: 38%;
}
#debug {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
