.supports {
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

#bg {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.supports.open {
  & #bg {
    opacity: 1;
  }
}

#supports img {
  position: absolute;
  top: 27%;
  left: 38%;
}
#debug {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
