nav.nav-main
    ul.nav-main__list
        li.nav-main__item(data-scroll="promo")
            a(href="#")
                span главная
        li.nav-main__item(data-scroll="about")
            a(href="/#about")
                span о нас
        li.nav-main__item(data-scroll="supports")
            a(href="/#supports")
                span виды поддержки
        li.nav-main__item(data-scroll="team")
            a(href="/#team")
                span команда
        li.nav-main__item(data-scroll="footer")
            a(href="/#footer")
                span контакты