section.about#about
  h2.visually-hidden О нас
  .about__wrapper
    p.about__title.container
      span о нас

    .about__content.container
      .about__info-box
        .about__info-list
          .about__info.about__info--pink.open
            h3.about__info-title
              span Сибирский институт развития креативных индустрий
            p.about__info-desc – единый центр поддержки и продвижения креативного бизнеса в Красноярском крае. Мы объединяем власть, бизнес, образование, культуру, жителей и креативное сообщество региона.
            template Красноярский край

          .about__info.about__info--green
            h3.about__info-title
              span Креативные индустрии в красноярском крае
            p.about__info-desc Сегодня в регионе официально зарегистрированы более 5 000 организаций в области креативных индустрий. Развитие креативного предпринимательства – одно из приоритетных направлений на уровне Правительства края.
            template Сибирский институт

          //.about__info-toggle--green
        button.about__info-toggle(type="button")
          span Красноярский край


      .about__cards
        .about__card.about__card--green
          .about__card-wrapper
            .about__card-button.about__card-button--green.front

            .about__infopanel.about__infopanel--green.back
              h3.about__infopanel-title
                span Направления работы

              .about__infopanel-slider 
                .about__slider-item
                  p.about__infopanel-desc 
                    span Продвигаем и продюсируем местных креативных предпринимателей и их продукты, помогаем в выходе на новые рынки.
                .about__slider-item
                  p.about__infopanel-desc 
                    span Объединяем все имеющиеся в регионе возможности для креативных индустрий.
                .about__slider-item
                  p.about__infopanel-desc 
                    span Поддерживаем креативный бизнес по принципу «одного окна», когда все меры собраны в одном месте.
                .about__slider-item
                  p.about__infopanel-desc 
                    span Развиваем инфраструктуру, где представители креативных индустрий могут работать и создавать свои продукты.
                .about__slider-item
                  p.about__infopanel-desc 
                    span Формируем единую стратегию развития креативных индустрий в регионе.


        .about__card.about__card--pink
          .about__card-wrapper

            .about__card-button.about__card-button--pink.front
              .about__card-ribbon.card-ribbon.about__card-ribbon_1 
                p.card-ribbon__text компьютерная графика разработка игр
              .about__card-ribbon.card-ribbon.about__card-ribbon_2
                p.card-ribbon__text искусство издательское дело журналистика
              .about__card-ribbon.card-ribbon.about__card-ribbon_3 
                p.card-ribbon__text архитектура мода дизайн кино
              .about__card-ribbon.card-ribbon.about__card-ribbon_4 
                p.card-ribbon__text новые медиа маркетинг IT-сфера гастрономия
              .about__card-ribbon.card-ribbon.about__card-ribbon_5 
                p.card-ribbon__text урбанистика музыка саунд-дизайн
            
            .about__infopanel.about__infopanel--pink.back
              h3.about__infopanel-title 
                span Креативные индустрии
              p.about__infopanel-desc   
                span сферы экономики, в которых товары и услуги производятся в процессе творческой и культурной деятельности, управления интеллектуальной собственностью.























              //- .about__infopanel-slider 
              //-   .about__slider-item
              //-     p.about__infopanel-desc 
              //-       span сферы экономики, в которых товары и услуги производятся в процессе творческой и культурной деятельности, управления интеллектуальной собственностью.
              //-   .about__slider-item
              //-     ul.about__infopanel-desc
              //-       li 
              //-         span журналистика
              //-       li 
              //-         span новые медиа
              //-       li 
              //-         span маркетинг
              //-       li 
              //-         span IT-сфера
              //-       li 
              //-         span компьютерная графика
              //-       li 
              //-         span разработка игр
              //-       li 
              //-         span гастрономия
              //-       li 
              //-         span издательское дело

              //-   .about__slider-item
              //-     ul.about__infopanel-desc
              //-       li 
              //-         span мода
              //-       li 
              //-         span дизайн
              //-       li 
              //-         span кино
              //-       li 
              //-         span архитектура
              //-       li 
              //-         span урбанистика
              //-       li 
              //-         span музыка
              //-       li 
              //-         span саунд-дизайн
              //-       li 
              //-         span искусство

      