section.about#about
  h2.visually-hidden О нас

  .about__wrapper.container
    p.about__title
      span о нас

    .about__content
      .about__info
        h3.about__info-title
          span Сибирский институт развития креативных индустрий
        p – единый центр поддержки и продвижения креативного бизнеса в Красноярском крае. Мы объединяем власть, бизнес, образование, культуру, жителей и креативное сообщество региона.

        button(type="button")
          span Красноярский край

      .about__info
        h3.about__info-title
          span Креативные индустрии в красноярском крае
        p Сегодня в регионе официально зарегистрированы более 5 000 организаций в области креативных индустрий. Развитие креативного предпринимательства – одно из приоритетных направлений на уровне Правительства края.

        button(type="button")
          span Сибирский институт




      .about__cards
        .about__direction
          button(type="button")
            img(src="@img/images/about-img_1.jpg" width="258" height="270")

        .about__creative
          button(type="button")
            img(src="@img/images/about-img_2.jpg" width="258" height="270")



