section.about#about
  h2.visually-hidden О нас

  .about__wrapper.container
    p.about__title
      span о нас

    .about__content
      .about__info-box
        .about__info.open
          h3.about__info-title
            span Сибирский институт развития креативных индустрий
          p.about__info-desc – единый центр поддержки и продвижения креативного бизнеса в Красноярском крае. Мы объединяем власть, бизнес, образование, культуру, жителей и креативное сообщество региона.
          template Сибирский институт



        .about__info
          h3.about__info-title
            span Креативные индустрии в красноярском крае
          p.about__info-desc Сегодня в регионе официально зарегистрированы более 5 000 организаций в области креативных индустрий. Развитие креативного предпринимательства – одно из приоритетных направлений на уровне Правительства края.
          template Красноярский край

        button.about__info-toggle(type="button")
          span Сибирский институт




      .about__cards
        .about__card.about__direction
          button(type="button")
            img(src="@img/images/about-img_1.jpg" width="258" height="270")
          

        .about__card.about__creative
          button(type="button")
            img(src="@img/images/about-img_2.jpg" width="258" height="270")



