header.header

    a.header__logo(href="/")
        img(src="@img/icons/logo-black.svg" width="104" height="9")

    button.header__burger.header__burger--council(type="button")
        span
        span
        span
        span

    nav.nav-secondary
        ul.nav-secondary__list
            li.nav-secondary__item
                a(href="/#promo")
                    span главная
            li.nav-secondary__item
                a(href="/#about")
                    span о нас
            li.nav-secondary__item
                a(href="/#supports")
                    span виды поддержки
            li.nav-secondary__item
                a(href="/#team")
                    span команда
            li.nav-secondary__item
                a(href="/#footer")
                    span контакты

            li.nav-secondary__item
                a(href="/council.html")
                    span наблюдательный совет

    .header__overlay