header.header#header

    include add/nav-main

    a.header__logo(href="/")
        img(src="@img/icons/logo-white.svg" width="104" height="9")

    button.header__burger(type="button")
        span
        span
        span
        span

    nav.nav-secondary
        ul.nav-secondary__list
            li.nav-secondary__item.menu-mobile(data-scroll="#promo")
                a(href="/#promo" data-scroll="#promo")
                    span главная
            li.nav-secondary__item.menu-mobile(data-scroll="#about")
                a(href="/#about" data-scroll="#about")
                    span о нас
            li.nav-secondary__item.menu-mobile(data-scroll="#supports")
                a(href="/#supports" data-scroll="#supports")
                    span виды поддержки
            li.nav-secondary__item.menu-mobile(data-scroll="#team")
                a(href="/#team" data-scroll="#team")
                    span команда
            li.nav-secondary__item.menu-mobile(data-scroll="#footer")
                a(href="/#footer" data-scroll="#footer")
                    span контакты

            li.nav-secondary__item
                a(href="/council.html")
                    span наблюдательный совет

    .header__overlay





