nav.nav-main
    ul.nav-main__list
        li.nav-main__item
            a(href="#" data-scroll="#promo")
                span главная
        li.nav-main__item
            a(href="#" data-scroll="#about-us")
                span о нас
        li.nav-main__item 
            a(href="#" data-scroll="#about-us")
                span виды поддержки
        li.nav-main__item 
            a(href="#" data-scroll="#about-us")
                span команда