section.promo#promo
    h2.visually-hidden Креативные индустрии - золото красноярского края

    .promo__letter

    .promo__title.container
        p Креативные индустрии
            span Креативные индустрии
        p Золото красноярского края
            span Золото красноярского края


    



