//- section#supports.supports
//-   <canvas id="bg"></canvas>
//-   //- img(src="@img/images/image 4.png", alt="")
//-   //- <button id='debug'>debug</button>

//-   .supports__wrapper.container
//-     p.supports__title
//-       span Виды поддержки

//-     .supports__box
//-       ul.supports__tabs
//-         li.supports__tabs-item
//-           a.supports__button(href="#supports__content-1")
//-             span Инфраструктура
//-         li.supports__tabs-item
//-           a.supports__button(href="#supports__content-2")
//-             span Образование
//-         li.supports__tabs-item
//-           a.supports__button(href="#supports__content-3")
//-             span Продюсирование
//-         li.supports__tabs-item
//-           a.supports__button(href="#supports__content-4")
//-             span Администрирование
//-         li.supports__tabs-item
//-           a.supports__button(href="#supports__content-5")
//-             span Финансирование


//-       ul.supports__content
//-         li.supports__content-item#supports__content-1
//-           span Содержимое 1... (Инфраструктура)

//-         li.supports__content-item#supports__content-2
//-           span Содержимое 2... (Образование)

//-         li.supports__content-item#supports__content-3
//-           span Содержимое 3... (Продюсирование)

//-         li.supports__content-item#supports__content-4
//-           span Содержимое 4... (Администрирование)

//-         li.supports__content-item#supports__content-5
//-           span Содержимое 5... (Финансирование)
