section.team#team
    h2.visually-hidden Наша команда

    .team__wrapper.container
      p.team__title
        span команда

      .team__content
        .team__slider-init

          .team__slider-wrap
            .team__slider-item.team__slider-gray
              .team__slider-boximage.team__slider-boximage--gray
                img(src="@img/images/team-makarov-gray.jpg" width="253" height="315" alt="Макаров Егор Владимирович")
              p
                span Макаров Егор Владимирович

            .team__slider-item.team__slider-color
              .team__slider-boximage.team__slider-boximage--color
                img(src="@img/images/team-makarov-color.jpg" width="253" height="315" alt="Макаров Егор Владимирович")
              .team__slider-desc
                p.team__slider-title Макаров Егор Владимирович
                p.team__slider-post Руководитель направления по организации событийной деятельности


          .team__slider-wrap
            .team__slider-item.team__slider-gray
              .team__slider-boximage.team__slider-boximage--gray
                img(src="@img/images/team-egorova-gray.jpg" width="253" height="315" alt="Егорова Анастасия Викторовна")
              p
                span Егорова Анастасия Викторовна

            .team__slider-item.team__slider-color
              .team__slider-boximage.team__slider-boximage--color
                img(src="@img/images/team-egorova-color.jpg" width="253" height="315" alt="Егорова Анастасия Викторовна")
              .team__slider-desc
                p.team__slider-title Егорова Анастасия Викторовна
                p.team__slider-post Заместитель директора – руководитель дирекции по взаимодействию с резидентами


          .team__slider-wrap
            .team__slider-item.team__slider-gray
              .team__slider-boximage.team__slider-boximage--gray
                img(src="@img/images/team-viborova-gray.jpg" width="253" height="315" alt="Выборова Валентина Олеговна")
              p
                span Выборова Валентина Олеговна

            .team__slider-item.team__slider-color
              .team__slider-boximage.team__slider-boximage--color
                img(src="@img/images/team-viborova-color.jpg" width="253" height="315" alt="Выборова Валентина Олеговна")
              .team__slider-desc
                p.team__slider-title Выборова Валентина Олеговна
                p.team__slider-post Заместитель директора – руководитель дирекции по организационной, кадровой и правовой работе


          .team__slider-wrap
            .team__slider-item.team__slider-gray
              .team__slider-boximage.team__slider-boximage--gray
                img(src="@img/images/team-chernikov-gray.jpg" width="253" height="315" alt="Черников Александр Игоревич")
              p
                span Черников Александр Игоревич

            .team__slider-item.team__slider-color
              .team__slider-boximage.team__slider-boximage--color
                img(src="@img/images/team-chernikov-color.jpg" width="253" height="315" alt="Черников Александр Игоревич")
              .team__slider-desc
                p.team__slider-title Черников Александр Игоревич
                p.team__slider-post Директор АНО «Сибирский институт развития креативных индустрий»


          .team__slider-wrap
            .team__slider-item.team__slider-gray
              .team__slider-boximage.team__slider-boximage--gray
                img(src="@img/images/team-shajunova-gray.jpg" width="253" height="315" alt="Шаюнова Дарья Павловна")
              p
                span Шаюнова Дарья Павловна

            .team__slider-item.team__slider-color
              .team__slider-boximage.team__slider-boximage--color
                img(src="@img/images/team-shajunova-color.jpg" width="253" height="315" alt="Шаюнова Дарья Павловна")
              .team__slider-desc
                p.team__slider-title Шаюнова Дарья Павловна
                p.team__slider-post Пресс-секретарь


          .team__slider-wrap
            .team__slider-item.team__slider-gray
              .team__slider-boximage.team__slider-boximage--gray
                img(src="@img/images/team-meshkova-gray.jpg" width="253" height="315" alt="Мешкова Ульяна Николаевна")
              p
                span Мешкова Ульяна Николаевна

            .team__slider-item.team__slider-color
              .team__slider-boximage.team__slider-boximage--color
                img(src="@img/images/team-meshkova-color.jpg" width="253" height="315" alt="Мешкова Ульяна Николаевна")
              .team__slider-desc
                p.team__slider-title Мешкова Ульяна Николаевна
                p.team__slider-post Помощник директора
