section.team#team
    h2.visually-hidden Наша команда

    .team__wrapper.container
      p.team__title
        span команда

      .team__content
        .team__slider-init

          .team__slider-wrap
            .team__slider-item.team__slider-gray
              .team__slider-boximage.team__slider-boximage--gray
                img(src="@img/images/team-chernikov_gray.webp" width="253" height="315" alt="Александр Черников")
              p
                span Александр Черников

            .team__slider-item.team__slider-color
              .team__slider-boximage.team__slider-boximage--color
                img(src="@img/images/team-chernikov_color.webp" width="253" height="315" alt="Александр Черников")
              .team__slider-desc
                p.team__slider-title Александр Черников
                .separator
                p.team__slider-post Директор АНО «Сибирский институт развития креативных индустрий»

          .team__slider-wrap
            .team__slider-item.team__slider-gray
              .team__slider-boximage.team__slider-boximage--gray
                img(src="@img/images/team-egorova_gray.webp" width="253" height="315" alt="Анастасия Егорова")
              p
                span Анастасия Егорова

            .team__slider-item.team__slider-color
              .team__slider-boximage.team__slider-boximage--color
                img(src="@img/images/team-egorova_color.webp" width="253" height="315" alt="Анастасия Егорова")
              .team__slider-desc
                p.team__slider-title Анастасия Егорова
                .separator
                p.team__slider-post Заместитель директора – руководитель дирекции по взаимодействию с резидентами


          .team__slider-wrap
            .team__slider-item.team__slider-gray
              .team__slider-boximage.team__slider-boximage--gray
                img(src="@img/images/team-viborova_gray.webp" width="253" height="315" alt="Валентина Выборова")
              p
                span Валентина Выборова

            .team__slider-item.team__slider-color
              .team__slider-boximage.team__slider-boximage--color
                img(src="@img/images/team-viborova_color.webp" width="253" height="315" alt="Валентина Выборова")
              .team__slider-desc
                p.team__slider-title Валентина Выборова
                .separator
                p.team__slider-post Заместитель директора – руководитель дирекции по организационной, кадровой и правовой работе


          .team__slider-wrap
            .team__slider-item.team__slider-gray
              .team__slider-boximage.team__slider-boximage--gray
                img(src="@img/images/team-makarov_gray.webp" width="253" height="315" alt="Егор Макаров")
              p
                span Егор Макаров

            .team__slider-item.team__slider-color
              .team__slider-boximage.team__slider-boximage--color
                img(src="@img/images/team-makarov_color.webp" width="253" height="315" alt="Егор Макаров")
              .team__slider-desc
                p.team__slider-title Егор Макаров
                .separator
                p.team__slider-post Руководитель направления по организации событийной деятельности


          .team__slider-wrap
            .team__slider-item.team__slider-gray
              .team__slider-boximage.team__slider-boximage--gray
                img(src="@img/images/team-shajunova_gray.webp" width="253" height="315" alt="Дарья Шаюнова")
              p
                span Дарья Шаюнова

            .team__slider-item.team__slider-color
              .team__slider-boximage.team__slider-boximage--color
                img(src="@img/images/team-shajunova_color.webp" width="253" height="315" alt="Дарья Шаюнова")
              .team__slider-desc
                p.team__slider-title Дарья Шаюнова
                .separator
                p.team__slider-post Пресс-секретарь


          .team__slider-wrap
            .team__slider-item.team__slider-gray
              .team__slider-boximage.team__slider-boximage--gray
                img(src="@img/images/team-meshkova_gray.webp" width="253" height="315" alt="Ульяна Мешкова")
              p
                span Ульяна Мешкова

            .team__slider-item.team__slider-color
              .team__slider-boximage.team__slider-boximage--color
                img(src="@img/images/team-meshkova_color.webp" width="253" height="315" alt="Ульяна Мешкова")
              .team__slider-desc
                p.team__slider-title Ульяна Мешкова
                .separator
                p.team__slider-post Помощник директора
