// colors
$color-black: #000;
$color-white: #fff;
$color-darkgrey: #50535A;
$color-lightgray: #D4D8DA;
$color-blue: #4F4B98;
$color-green: #2AA89A;
$color-pink: #D6338A;
$color-ywllow: #F0E400;

// fonts
$font-main: geometria;

// viewports
// $mobile-min: 530px;
$mobile: 767px;
$tablet: 768px;
// $laptop: 1365px;
$desktop: 1440px;
