// colors
$color-black: #000;
$color-white: #fff;
$color-darkgrey: #50535a;
$color-lightgray: #d4d8da;
$color-blue: #4f4b98;
$color-green: #2aa89a;
$color-pink: #d6338a;
$color-yellow: #f0e400;
$color-aquamarine: #61ffed;
$color-pink-2: #ff0088;

// fonts
$font-main: geometria;

// viewports
$mobile-max: 530px;
$mobile: 767px;
$tablet: 768px;
$laptop: 1365px;
$desktop: 1366px;
