doctype html
//- Подключаем файл с миксинами
include html/global/mixins
include html/global/variables

html
    include html/global/head

    body
        include html/components/header

        main

            h1.visually-hidden industry

            include html/components/promo


            include html/components/about

            include html/components/supports

            include html/components/team
            //- include html/components/section-test


        include html/components/footer

        //- Скрипты
        include html/global/scripts-js
